
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rosarivo:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap');

/* DEFAULT STYLE */

*{
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 200;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


#about-me, #projects {     /** BACKGROUND GRADIENT **/
  min-height: 100vh;
  width: 100%;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to right, #2d2036db, #344544);
  display: flex;
  flex-direction: column;

}

#languages {     /** BACKGROUND GRADIENT **/
  min-height: 10vh;
  width: 100%;
  background: linear-gradient(to right, #2d2036db, #344544);
  display: flex;
  flex-direction: column;
}

span {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #1abc9c;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffff;
  text-align: center;
  line-height: 1.25;
  
}

h1 {
  font-size: 36px;
  letter-spacing: 2px;
  
}

.dashboard__img {
  width: 200px;
  height: 250px;
  padding-top: 10px;
  margin: 0 8px;
}

p {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: white;
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
}

a:hover, i:hover {
  opacity: 0.7;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: black;
  width: 0;       /** to animate the entire item **/
  bottom: -5px;
  right: 0;
  transition: all 300ms ease
}

.link__hover-effect--white:after {      /** : -- pseudo elements **/
  background-color: #ffff;
}

.link__hover-effect--black:after {      /** : -- pseudo elements **/
  background-color: #000000;
}

.link__hover-effect:hover:after {
  width: 100%;       /** to animate the entire item **/
  left: 0;
}

li {
  list-style: none;
}

.flex {
  display: flex;   /** child is also 100% height of the page **/
}

.flex-1 {
  flex: 1; /** entire height of the page **/ 
}

.row {
  width: 100%;
  max-width: 800px; /** ensures info and image under the row div 
  are not the entire width of the page **/
  margin: 0 auto; /** automatically centers the text based on equal margin values **/
  padding: 0 12px;
}

.container {
  padding: 50px 0;
}

section:nth-child(even) {    /** section background color - reusable code through inspection tool  **/
  background: linear-gradient(to right, #38403c, #534e4e79);
}

.section__title {
  margin-bottom: 20px;
}

.text--teal {
  color:#1abc9c
}

.text--white {
  color:#ffff
}



/* NAVIGATION BAR */

.dashboard {   /** NAVIGATION DASHBOARD  **/
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 10px;
  width: 100%;
  background: #1414193d;
  border-radius: 16px;
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.76);
  backdrop-filter: blur(60px);
  transition: all 0.3s ease;
}

nav {
  height: 100px;
  width: 100%;     /* set width to 100% to make page responsive */
  max-width: 1000px;
  margin: 0 auto;   /* centers the nav text */
  display: flex;    /* display flex and justify content will center the nav bar to both sides of the page */
  justify-content: space-between;  
  align-items: center;   /* center nav text vertically */
  padding: 0 12px;
}

.nav__link--list {
  display: flex;   /* puts the links side-by-side */
}

.link__hover-effect:hover {
  color: #1abc9c;
}

.nav__link--anchor {
  margin: 0 12px; 
  color: #ffff;
  font-weight: 700;
}

.nav__link--anchor-primary {
  padding: 8px 20px;
  border-radius: 50px;
  color: #ffff;
  background-color: #1abc9c;
  text-decoration: none;
  transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: #3c3b3f;
  
}

.personal__logo {
  font-size: 24px;
  color: #1abc9c;
  margin: 0 12px;
  font-weight: bold;
}

/* ABOUT ME */

#about-me {
  min-height: 100vh; /** so you can see it is the entire height of the page **/
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__info--container {
  display: flex;
  flex-direction: column; /** ensures text info and image are not side by side **/
  align-items: center;  /** entire height of the page **/
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

}

.about-me__picture--mask {
  width: 150px;    
  height: 150px;
  border-radius: 30%;   /** border edges **/
  overflow: hidden;     /** overflow: hidden; no image overflow past the circular border **/
  box-shadow: 0 8px 36px #597e76af;
  border-color: #5d6a67af;
  border-style: solid;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 16px;
  animation: animate-profile-picture 800ms 200ms backwards;
}

@keyframes animate-profile-picture {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.about-me__picture {
  width: 100%;    /** needs to be 100% of its parent - .about-me__picture--mask to maintain correct sizing **/
  /** Improving my own picture **/
  transform: scale(1.7);
  padding-top: 16px;
  
} 

.about-me__info--title {
  margin-bottom: 60px;
  animation: fade-in 1200ms 450ms backwards;
}

.about-me__info--para {
  font-size: 20px;
  margin-bottom: 60px;
  animation: fade-in 1200ms 600ms backwards;
}

.about-me__link {
  font-size: 20px;
  color: white;
  padding: 0 16px;
}

.about-me__link {
  animation: fade-in 1200ms 900ms backwards;
}

.about-me__img {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  animation: fade-in 1200ms 950ms backwards;
}

@keyframes fade-up{
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 auto;
}

.about-me__img--container {
  width: 100%;
}

@keyframes fade-in{
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* TECH - STACK  */

.dashboard--tech-stack {   /** TECHNOLOGY STACK DASHBOARD  **/
  max-width: 100%;
  margin: 0 auto;
  padding: 50px;
  width: 100vw;
  background: #1414193d;
  border-radius: 40px;
  box-shadow: 0 12px 36px rgba(0,0,0,0.6);
  backdrop-filter: blur(60px);
  transition: all 0.3s ease;
  background: linear-gradient(to right, #2d20366b, #344544);

}

.language {
  width: 25%;          /** THIS IS THE PARENT to .language__img 
  25% of the width of the container (100% width of the page) **/
  display: flex;
  justify-content: center;     /** flex-->jcc centers the text at the top of the language image **/ 
  position: relative;          /** moves to the closest relative parent **/ 
   
}

.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.85;
  transform: scale(1.3);
}


.glow__img--orange {
  display: block; 
  transition: filter 300ms ease-out,
              opacity 300ms ease-out,
              box-shadow 300ms ease-out;
}

.glow__img--orange:hover {
  filter: brightness(100%);
  opacity: 1;
  box-shadow:
    0 0 40px #f1c26366,
    0 0 60px #6365f16b,
    0 0 80px #f7a604ce;
}

.glow__img--wrapper {
  background: transparent;
  position: relative;
  display: inline-block;
}


.glow__img--wrapper::before {
  content: "";
  position: absolute;
  inset: -20px;              /** gives it size **/
  background: radial-gradient(circle,#f1c26366, transparent 70%);
  filter: blur(20px);
  z-index: -3;               /* keeps glow behind image */
}

.language__img {
  width: 100%;          /** % makes image responsive **/    /** % makes image responsive **/
  max-width: 100px;
  transition: all 300ms ease-out;       /** % makes the hover effect smooth **/ 
}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 16px;
}

.language__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;  /** squeezes the language icons, forcing them onto another row -- add padding to the wrapper create spacing **/ 
}

.language__name {
  position: absolute;  /** not affecting the parent (language) icon flex boxes **/ 
  bottom: 0;            /** moves to the bottom of the closest relative parent **/ 
  margin: -18px;        /** creating space between the img and the text **/
  transform: scale(0);
  transition: all 300ms ease-out;
  font-size: 20px;
  opacity: 0;
}

.language:hover .language__name{
  transform: scale(0.8);
  opacity: 1;           /** subtle fade in 0 --> 1 for the language text when it appears **/
}

/** PROJECTS **/

.project {
  margin-bottom: 135px;
}

.project:last-child {
  margin-bottom: 40px;   /** :last-child targets the last item and
  closes the gap between it and the end of the page (shortening the gap) **/
}

.project__img {
  width: 100%;   /** matches the .row width to correctly fit **/
  transition: all 350ms ease;  /** added so you do not instantly receive the blurred zoom on hover **/
}

.project__wrapper {
  display: flex;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.44);
  border-radius: 30px;     /** will not show for the wrapper if overflow is not hidden (image leaking out the wrapper) **/
  overflow: hidden;     /** prevent image overflowing the border radius **/
  position: relative;
}

.project__wrapper:before {
  content: "";
  position: absolute;     /** positioned at absolute to avoid affecting the position of other aspects of the page **/
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: opacity 450ms ease;   /** state what you are transitioning **/
  z-index: 2;
}

.project:hover .project__wrapper:before {
  opacity: 0.55;
}

.project:hover .project__img {
  transform: scale(1.075) translateY(18px);
  filter: blur(5px);
}

.project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);   /** centering the text description 
  after transition when hovering **/
}

.project__list {
  padding-top: 40px;
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);   /** starting point for the text description **/
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms ease-in;    /** transform needs to be added for effect and use a comma for 2 separate transitions. **/
}

.project__description--title {
  font-size: 40px;
}

.project__description--para, .ul-project__description--para {
  margin: 16px 0;
}

.project__description--link {
  font-size: 20px;
  margin-right: 16px;
  text-decoration: none;
}

.project__description--title, .project__description--sub-title, 
.project__description--para, 
.project__description--link, .ul-project__description--para{
  text-align: left;
  color: white;
}

/** FOOTER **/

footer{
  background: linear-gradient(to right, #2516309a, #344544);
  
}

.footer__logo {
  margin-bottom: 10px
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;     /** even, wide spacing -- add max width if you want to make text closer **/ 
  margin-bottom: 28px;

}

.footer__row {
  display: flex;  /** align content next to each other **/
  padding: 25% 0;
  flex-direction: column;
  align-items: center;        /** centers it vertically by default without flex direction coloumn**/
  justify-content: center;   /** centers it horizontally by default flex direction coloumn **/
}

.footer__logo--img {
  width: 300px;
  height: 400px;
  
}

.footer__social--link, 
.footer__copyright, 
.footer__logo--popup {
  color: #ffffff;
}


.footer__logo--popup {
  position: absolute;
  right: -2px;
  top: 90px;
  background-color: #3c3b3f;
  padding: 10px;
  border-radius: 40px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.footer__anchor {
  position: relative;
  margin-bottom: 10px;
}

.footer__anchor:hover .footer__logo--popup {
  transform: translateX(60px);
  opacity: 1;
}


/** small phones, tablets, and  **/
@media (max-width: 768px){
  nav {
    height: 68px
  }

  h1 {
    font-size: 28px;
  }

  .about-me__info--para {
    font-size: 18px;
  }

  .language {
    width: calc(100% / 3);   /** how many language icons you want on each row **/
  }

  .project__description--para {
    font-size: 14px;
  }

   .project__description--para {
     left: 30px;
     padding-right: 30px;
  }
}

/** small phones **/
@media (max-width: 480px) {
  .nav__link:not(:last-child) {        /** links that are not last in width **/
    display: none;
  }        
  
  .project__description {             /** because it is position absolute push it all the way to the left**/
    padding: 0;
    left: 0;
    width: 100%;
    
  }

  .project__description--para {
    display: none;
  }

  .project__description--links {
    display: flex;
    justify-content: center;
  }

  .project__description--title {
    font-size: 32px;
    line-height: 1;
    text-align: center;
  }

  .project__description--sub-title {
    text-align: center;
    margin: 12px 0;
  }
}
