
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rosarivo:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap');

/* DEFAULT STYLE */

*{
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#about-me, #projects {     /** BACKGROUND GRADIENT **/
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #313b37, #534e4e86);
  display: flex;
  flex-direction: column;
}

#languages {     /** BACKGROUND GRADIENT **/
  min-height: 10vh;
  width: 100%;
  background: linear-gradient(to right, #313b37, #534e4e86);
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffff;
  text-align: center;
  line-height: 1.25;

}

h1 {
  font-size: 36px;
}

p {
  font-family: "Space Grotesk", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: white;
}

span {
  font-family: "Fira Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #1abc9c;
}

li {
  list-style: none;
}

.flex {
  display: flex;   /** child is also 100% height of the page **/
}

.flex-1 {
  flex: 1; /** entire height of the page **/ 
}

.row {
  width: 100%;
  max-width: 800px; /** ensures info and image under the row div 
  are not the entire width of the page **/
  margin: 0 auto; /** automatically centers the text based on equal margin values **/
}

.container {
  padding: 50px 0;
}

section:nth-child(even) {    /** section background color - reusable code through inspection tool  **/
  background: linear-gradient(to right, #38403c, #534e4e79);
}

.section__title {
  margin-bottom: 20px;
}

.text--teal {
  color:#1abc9c
}

.text--white {
  color:#ffff
}

/* NAVIGATION BAR */

.dashboard {   /** NAVIGATION DASHBOARD  **/
  max-width: 100%;
  margin: 1rem ;
  padding: 1rem;
  width: 100%;
  background: #1414193d;
  border-radius: 16px;
  box-shadow: 0 12px 36px rgba(0,0,0,0.6);
  backdrop-filter: blur(60px);
  transition: all 0.3s ease;
}

nav {
  height: 100px;
  width: 100%;     /* set width to 100% to make page responsive */
  max-width: 1000px;
  margin: 0 auto;   /* centers the nav text */
  display: flex;    /* display flex and justify content will center the nav bar to both sides of the page */
  justify-content: space-between;  
  align-items: center;   /* center nav text vertically */
}

.nav__link--list {
  display: flex;   /* puts the links side-by-side */
}

.link__hover-effect:hover {
  color: #1abc9c;
}

.nav__link--anchor {
  margin: 0 12px; 
  color: #ffff;
  text-decoration: none;
  font-weight: 700;
}

.nav__link--anchor-primary {
  padding: 8px 20px;
  border-radius: 50px;
  color: #ffff;
  text-decoration: none;
  transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: #3c3b3f;
  
}

.personal__logo {
  font-size: 24px;
  color: #1abc9c;
  margin: 0 12px;
  font-weight: bold;
}

/* ABOUT ME */

#about-me {
  min-height: 100vh; /** so you can see it is the entire height of the page **/
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__info--container {
  display: flex;
  flex-direction: column; /** ensures text info and image are not side by side **/
  align-items: center;  /** entire height of the page **/
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

}

.about-me__picture--mask {
  width: 150px;    
  height: 150px;
  border-radius: 30%;   /** border edges **/
  overflow: hidden;     /** overflow: hidden; no image overflow past the circular border **/
  box-shadow: 0 8px 36px #597e76af;
  border-color: #5d6a67af;
  border-style: solid;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 16px;

}

.about-me__picture {
  width: 100%;    /** needs to be 100% of its parent - .about-me__picture--mask to maintain correct sizing **/

  /** Improving my own picture **/
  transform: scale(1.8);
  padding: 20px 4px;
  margin: 0 auto;
  
} 

.about-me__info--title {
  margin-bottom: 16px;
}

.about-me__info--para {
  font-size: 20px;
  margin-bottom: 28px;
}

.about-me__link {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 16px;
  
}

.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
}

.about-me__img--container {
  width: 100%;
}

/* TECH - STACK  */

.dashboard--tech-stack {   /** NAVIGATION DASHBOARD  **/
  max-width: 100%;
  margin: 0 auto;
  padding: 50px;
  width: 100vw;
  background: #1414193d;
  border-radius: 40px;
  box-shadow: 0 12px 36px rgba(0,0,0,0.6);
  backdrop-filter: blur(60px);
  transition: all 0.3s ease;
  background: linear-gradient(to right, #38403c, #534e4e79);
}

.language {
  width: 25%;          /** THIS IS THE PARENT TO .language__img 
  25% of the width of the container (100% width of the page) **/
  display: flex;
  justify-content: center;     /** flex-->jcc centers the text at the top of the language image **/ 
  position: relative;          /** moves to the closest relative parent **/ 
}

.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.85;
  transform: scale(1.3);
}

.language__img {
  width: 100%;          /** % makes image responsive **/    /** % makes image responsive **/
  max-width: 100px;
  transition: all 300ms ease-out;       /** % makes the hover effect smooth **/ 

}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 16px;
}

.language__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;  /** squeezes the language icons, forcing them onto another row -- add padding to the wrapper create spacing **/ 
}

.language__name {
  position: absolute;  /** not affecting the parent (language) icon flex boxes **/ 
  bottom: 0;            /** moves to the bottom of the closest relative parent **/ 
  margin: -18px;        /** creating space between the img and the text **/
  transform: scale(0);
  transition: all 300ms ease-out;
  font-size: 20px;
  opacity: 0;
}

.language:hover .language__name {
  transform: scale(0.8);
  opacity: 1;           /** subtle fade in 0 --> 1 for the language text when it appears **/
}

/** PROJECTS **/

.project__img {
  width: 100%;   /** matches the .row width to correctly fit **/
  transition: all 350ms ease;  /** added so you do not instantly receive the blurred zoom on hover **/
}

.project__wrapper {
  display: flex;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.44);
  border-radius: 30px;     /** will not show for the wrapper if overflow is not hidden (image leaking out the wrapper) **/
  overflow: hidden;     /** prevent image overflowing the border radius **/
  position: relative;
}

.project__wrapper:before {
  content: "";
  position: absolute;     /** positioned at absolute to avoid affecting the position of other aspects of the page **/
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: opacity 450s ease;   /** state what you are transitioning **/
  z-index: 2;
}

.project__wrapper:hover .project__wrapper:before {
  opacity: 0.75;
}

.project:hover .project__img {
  transform: scale(1.075) translateY(18px);
  filter: blur(5px);
}

.project:hover .project__description {
  opacity: 1;
}

.project__list {
  padding-top: 40px;
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(-50%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.project__description--title {
  font-size: 40px;
}

.project__description--para {
  margin: 16px 0;
}

.project__description--link {
  font-size: 20px;
  margin-right: 16px;
  text-decoration: none;
}

.project__description--title, .project__description--sub-title, 
.project__description--para, 
.project__description--link {
  text-align: left;
  color: white;
}